.body-container {
    background-color: white;
}
.timeline-item {
    display: flex;
    flex-direction: column;
    background: #ffffff; /* Clean white background */
    border-left: 4px solid #007bff; /* Accent color for timeline */
    padding: 15px;
    margin: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    border-radius: 8px;
}

.timeline-org-info {
    display: flex;
    align-items: center;
    gap: 12px; /* Spacing between logo and text */
    margin-bottom: 5px;
}
.section-header {
    font-size: 2rem;
}

.org-logo {
    width: 30px; /* Adjust logo size */
    height: auto;
}

.org-name {
    font-size: 1.3rem;
    font-weight: bold;
    font-family: 'Markazi';
    color: #333333;
}

.timeline-subitem {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 5px;
}

.role {
    font-size: 1rem;
    font-weight: bold;
    color: #007bff;
}

.duration {
    font-size: 0.9rem;
    color: #666;
}

.timeline-subitem p {
    font-size: 0.95rem;
    color: #444;
    line-height: 1.4;
    margin: 5px 0 0;
}

.work-desc{
    padding-left: 1em;
    margin: 0;
}
.edu-item{
    font-size: 0.9rem;
    font-weight: bold;
}